.readme ul {
  padding: 0;
  margin: 0;
}
.readme h2 {
  margin-top: 3rem;
  margin-bottom: 0.4rem;
  font-size: 2rem;
}
.readme p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.readme pre {
  border-left: 3px solid black;
  padding-left: 0.5rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.down-1 {
  position: relative;
  top: .1rem;
}
.down-2 {
  position: relative;
  top: .2rem;
}
.down-3 {
  position: relative;
  top: .3rem;
}