body {
  margin: 0;
}
a {
  color: currentColor;
}

.readme ul {
  padding: 0;
  margin: 0;
}
.readme h2 {
  margin-top: 3rem;
  margin-bottom: 0.4rem;
  font-size: 2rem;
}
.readme p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.readme pre {
  border-left: 3px solid currentColor;
  padding-left: 0.5rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
}